# Ignorar diretórios e arquivos irrelevantes
*.log
*.tmp
node_modules/
public/
firebase-debug.1.log
firebase.json
firestore.indexes.json
firestore.rules
firebase-functions/
*.yarnrc
*.gradle
.vscode/
*.gitconfig
